<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\inetpub\wwwroot\gestionProyectos\.venv\Scripts\python.exe|C:\inetpub\wwwroot\gestionProyectos\.venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="main.app"/>
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\gestionProyectos" />
    <add key="WSGI_LOG" value="C:\inetpub\wwwroot\gestionProyectos\wsgi.log" />
  </appSettings>
</configuration>
